<div class="login-container">
  <!--Akhir Back  -->
  <div class="login-card-bg"></div>
  <!-- Card Login -->
  <div class="login-card">
    <div class="login-card-header">
      <h1>Sign In</h1>
      <div>Hey. Please sign in to your account to use our website</div>
      <% if(messages.error) {%>
      <div class="alert">
        <span class="close">x</span>
        <%= messages.error %>
      </div>

      <% } %>
    </div>

    <form class="login-card-form" action="/loginPanel" method="post">
      <div class="form-item">
        <span class="material-symbols-rounded form-item-icon"> mail </span>
        <input type="email" name="email" placeholder="Masukan Email" />
      </div>
      <div class="form-item">
        <span class="material-symbols-rounded form-item-icon"> lock </span>
        <input type="password" name="password" placeholder="Masukan Password" />
      </div>
      <div class="form-item-other">
        <a href="#">I forgrt my password</a>
      </div>
      <button>Sign In</button>
    </form>
    <div class="login-card-footer">Don't have an account ? <a href="/registerPanel">Create a free account</a></div>
    <!-- Login Sosmed -->
    <div class="login-card-sosmed">
      <div>Or Sign in with</div>
      <div class="login-card-sosmed-btn">
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
          </svg>
          <span>Facebook</span>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-google"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
          </svg>
          <span>Google</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Card Login -->
</div>
